@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/CALIBRIB.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/CALIBRII.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



