/******Responsive starts Here******/
@media screen and (width:1280px){
	


}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape){


}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait){


	
}
@media screen and (width:1024px){

	
}

@media screen and (width:800px){


}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){


}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){



}

@media screen and (width:768px){



}

@media screen and (width:600px){


}

@media screen and (max-width:767px){


}

/*************************Phones start here************************************/
/**********IPHONE 6 PLUS ****************/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape){



}
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {


}

/**********Nexus 5X ****************/
@media only screen and (min-device-width : 412px) and (max-device-width : 732px) and (orientation : landscape){


}
@media only screen and (min-device-width : 412px) and (max-device-width : 732px) and (orientation : portrait) {


}

/**********IPHONE 6***************/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape){


}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {


}

/**********Galaxy 5s, Galaxy Note3, Galaxy Note2,Galaxy S3***************/
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : landscape){


}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait) {

}




/*******************IPHONE 5s************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){


}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {


}
@media screen and (width:320px){



}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape){


}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait){

}

/******Responsive ends Here******/