/*****Custom css********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; color:#101010; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { 
line-height: 1; 
font-family: open sans;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
p{ font-family: open sans; }
a{ text-decoration:none; font-family:open sans }
h1,h2,h3,h4,h5,h6,h7{ font-family:open sans }



/* Animation Delay */
.d01{ animation-delay:0.1s; -moz-animation-delay:0.1s; -webkit-animation-delay:0.1s; }
.d02{ animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
.d03{ animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }
.d04{ animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
.d05{ animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }
.d06{ animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
.d07{ animation-delay:0.7s; -moz-animation-delay:0.7s; -webkit-animation-delay:0.7s; }
.d08{ animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }	
.d09{ animation-delay:0.9s; -moz-animation-delay:0.9s; -webkit-animation-delay:0.9s; }
.d10{ animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
.d11{ animation-delay:1.1s; -moz-animation-delay:1.1s; -webkit-animation-delay:1.1s; }
.d12{ animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }
.d13{ animation-delay:1.3s; -moz-animation-delay:1.3s; -webkit-animation-delay:1.3s; }
.d14{ animation-delay:1.4s; -moz-animation-delay:1.4s; -webkit-animation-delay:1.4s; }
.d15{ animation-delay:1.5s; -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
.d16{ animation-delay:1.6s; -moz-animation-delay:1.6s; -webkit-animation-delay:1.6s; }
.d17{ animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }
.d18{ animation-delay:1.8s; -moz-animation-delay:1.8s; -webkit-animation-delay:1.8s; }
.d19{ animation-delay:1.9s; -moz-animation-delay:1.9s; -webkit-animation-delay:1.9s; }
.t14{
	animation-duration: 1.4s !important;
}

.t24{
	animation-duration: 2.4s !important;
}
/*Animation ends*/
.anim,.anima {
    opacity: 0;
}
.anim.animated,.anima.animated {
    opacity: 1;
}
select {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/arrow.png") 96% 50% no-repeat;
    padding-right: 25px;
}

#header {
    display: block;
}
#header .top-head {
    background: #fd9929;
    padding: 10px 0;
}
#header .top-head * {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
#header .top-head .menu-social .logins a {
    margin: 0 5px 0 5px;
}
#header .top-head .menu-social .logins a.sign {
    margin: 0 0px 0 5px;
	
}
#header .top-head .menu-social .logins a i {
    margin: 0 3px 0 0;
}
#header .top-head .menu-social ul {
    float: right;
    margin: 0 25px 0 0;
}
#header .top-head i {
    font-weight: normal;
}
#header .main-head .menu-contact .contact-list {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: center;
	padding: 3% 0px;
}
#header .main-head .menu-contact .contact-list li {
    float: left;
    display: inline-block;
    text-align: left;
    padding: 0 0 0 35px;
    position: relative;
    width: 33.33%;
}
#header .main-head .menu-contact .contact-list li::before {
    content: "\f025";
    font-family: fontawesome;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    color: #fd9929;
}

#header .main-head .menu-contact .contact-list li:nth-child(2)::before {
    content: "\f2b7";
}
#header .main-head .menu-contact .contact-list li:last-of-type::before {
    content: "\f041";
}
#header .main-head .navbar .navbar-brand {
    padding: 0;
    height: auto;
    display: inline-block;
    position: absolute;
    top: -79px;
}
#header .main-head .navbar .navbar-brand img {
    width: 185px;
}
#header .main-head .navbar {
    border: none;
    margin: 0;
}

#header .main-head .navbar #navbar-collapse-3 {
    position: absolute;
    bottom: -20px;
    width: 100%;
    padding: 0;
}
#header .main-head .navbar #navbar-collapse-3 .menu-container {
    box-shadow: 0 0 5px 1px rgba(0,0,0,.35);
    background: #fff;
    display: inline-block;
    width: 100%;
}

#header .main-head .navbar #navbar-collapse-3 .quote a {
    font: 600 14px/21px open sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
    display: inline-block;
    background: #fd9929;
    color: #fff;
    text-decoration: none;
}
#header .main-head .navbar #navbar-collapse-3 #menu-main-menu li a {
    background: transparent;
    font: 600 14px/21px open sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
    color: #101010;
}
#header .main-head .menu-contact .contact-list li p {
    font: 500 14px/21px open sans;
}
#home-banner {
    background: #101010 url(../images/agency.jpg);
    height: 73vh;
    display: flex;
    text-align: right;
    background-size: cover;
	align-items: center;
}
#home-banner .text-wrap .headinb-wrap h1 {
    font: 600 30px/36px open sans;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    background: #19b3b3;
    padding: 5px 20px;
    border-right: 3px solid #fd9929;
    margin: 0 0 10px 0;
}
#home-banner .text-wrap .sub-heaindg h4 {
    font: 600 25px/29px open sans;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    background: rgba(0,0,0,.45);
    padding: 5px 20px;
    border-right: 3px solid #fd9929;
    margin: 0 0 10px 0;
}
#home-banner .text-wrap p {
    color: #fff;
    float: right;
    font: 600 15px/21px open sans;
}
#home-banner .text-wrap {
    width: 50%;
    float: right;
}
.section-heading h2 {
    font: 700 21px/21px open sans;
    text-transform: uppercase;
}
.orange {
    color: #fd9929;
}
.section-heading {
    margin: 0 0 2rem 0;
    position: relative;
}
.section-heading h2 {
    font: 700 21px/31px open sans;
    text-transform: uppercase;
}
.section-heading::before,#footer .foot-main .foot-ttl::before {
    content: '';
    position: absolute;
    width: 50px;
    bottom: -10px;
    height: 2px;
    border-bottom: 2px solid #fd9929;
    left: 0;
}
.section-heading::after,#footer .foot-main .foot-ttl::after {
    content: '';
    position: absolute;
    width: 20px;
    bottom: -11px;
    height: 2px;
    border: 2px solid #fd9929;
    left: 10px;
	border-radius:2px;
}
#footer .foot-main .foot-ttl {
    font: 700 19px/31px open sans;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 2rem 0;
	position:relative;
}


.section {
    padding: 3% 0;
}
#why-choose .text-wrap .why-list {
}
#why-choose .text-wrap .why-list .media-left i {
    font-size: 25px;
    color: #fd9929;
}
#why-choose .text-wrap .why-list .media-body .media-heading {
    font: 600 16px/16px open sans;
    margin: 0 0 1rem 0;
}
#why-choose .text-wrap .why-list .media-body p {
    font: 400 14px/21px open sans;
    margin: 0 0 2rem 0;
}
#why-choose .text-wrap {
    padding: 2rem 0;
}
#testimonial {
    background: #101010 url(../images/agency.jpg);
    background-position: center;
    background-size: cover;
}
#testimonial .testimonial-wrap .owl-controls.clickable {
    display: none !important;
}
#testimonial .testimonial-wrap .item .media-left .img-wrap {
    border-radius: 50px;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
#testimonial .testimonial-wrap .item .media-left .img-wrap img {
    width: 100%;
}
#testimonial .testimonial-wrap .item .text-wrap .main-text {
    font: 400 14px/21px open sans;
    margin: 0 0 10px 0;
}
#testimonial .testimonial-wrap .item .text-wrap h6 {
    font: 600 14px/21px open sans;
    margin: 0 0 5px 0;
}
#testimonial .testimonial-wrap .item .text-wrap span {
    font: 400 12px/17px open sans;
}
#testimonial .testimonial-wrap {
    padding: 30px;
    background: #fff;
    border-radius: 3px;
}
#testimonial .form-area .form-control {
    border: 1px solid #101010;
    height: auto;
    font: 400 13px/21px open sans;
    box-shadow: none;
}
#testimonial .form-area {
    background: rgba(0,0,0,.55);
    padding: 25px;
    border-radius: 3px;
}
.banner-btn {
    font: 600 14px/21px open sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    display: inline-block;
    background: #fd9929;
    color: #fff !important;
    text-decoration: none !important;
    margin: 1rem 0 0 0;
}
#testimonial .form-area .banner-btn {
    border: none;
    border-radius: 3px;
    width: 100%;
    margin: 0;
}
#upcoming .events .event-list {
    list-style-type: none;
    display: inline-block;
    width: 100%;
}
#upcoming .events .event-individual {
    position: relative;
    padding: 0 0 0px 2rem;
    display: inline-block;
    margin: 0 0 1rem 0;
    width: 100%;
}
#upcoming .events .event-individual .post-date {
    position: absolute;
    left: 0px;
    top: 20px;
    font: 700 16px/21px open sans;
    width: 3rem;
    text-align: center;
    background: #fd9929;
    color: #fff;
    padding: 5px 10px;
}
#upcoming .events .event-individual .post-date span {
    font: inherit;
    color: #fff;
}
#upcoming .events .posts-wrap {
    padding: 10px 10px 10px 40px;
    background: #f5f5f5;
    width: 100%;
}
#upcoming .events .posts-wrap .posts-title {
    font: 600 15px/21px open sans;
    margin: 0 0 5px 0;
    display: inline-block;
    text-decoration: none;
}
#upcoming .events .posts-wrap .post-mata {
    margin-bottom: 5px;
}
#upcoming .events .posts-wrap .post-mata li span {
    font: 400 13px/21px open sans;
}
#upcoming .events .posts-wrap p {
    font: 400 13px/21px open sans;
}
#upcoming .faq-wrap .panel .side-tab .panel-heading.collapsed::before {
    content: "\f067";
}
#upcoming .faq-wrap .panel .side-tab .panel-heading::before {
    content: "\f068";
    font-family: fontawesome;
    position: absolute;
    left: -30px;
    font-size: 10px;
    display: flex;
    background: #fd9929;
    color: #fff;
    border-radius: 15%;
    width: 18px;
    height: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#upcoming .faq-wrap .panel .side-tab .panel-heading.collapsed::before {
    content: "\f067";
}
#upcoming .faq-wrap .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
#upcoming .faq-wrap .panel .side-tab {
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-bottom: 1px solid #dedede;
}
#team .owl-controls.clickable {
    display: none !important;
}
#upcoming .faq-wrap .panel .side-tab .panel-heading {
    padding: 0;
    display: inline-block;
    width: 100%;
    position: relative;
}
#upcoming .faq-wrap .panel-collapse {
    padding: 10px 10px 10px 40px;
}
#upcoming .faq-wrap .panel .panel-body {
    font: 400 14px/21px open sans;
}

#team #owl-demo-2 {
    margin-right: -15px;
    margin-left: -15px;
}
#team #owl-demo-2 .item {
    padding: 15px;
}
#team .team-wrap .text-wrap {
    padding: 10px;
    position: absolute;
    top: 250px;
    background: #fff;
    transition: 500ms;
}
#team .team-wrap:hover .text-wrap {
    bottom: 0;
}
#team .team-wrap {
    height: 300px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
#team .team-wrap .img-wrap {
    height: 250px;
    overflow: hidden;
}
#team .team-wrap .text-wrap h1 {
    font: 600 15px/21px open sans;
}
#team .team-wrap .text-wrap span {
    font: 400 13px/21px open sans;
    margin: 0 0 4px 0;
    display: inline-block;
}
#team .team-wrap .text-wrap p {
    font: 400 14px/21px open sans;
}
#team .team-wrap .social-list {
    position: absolute;
    top: 0;
    right: -30px;
    list-style-type: none;
    display: inline-block;
    background: #fd9929;
    padding: 3px;
	transition:500ms;
}
#team .team-wrap:hover .social-list {
    right: 0;
}
#team .team-wrap .social-list a i {
    color: #fff;
    font-size: 12px;
}
#team {
    background: #f4f4f4;
}
#team .team-wrap:hover .text-wrap {
    top: 80px;
}
#blog .blog-wrap .text-wrap .post-mata li {
    font: 400 13px/21px open sans;
}
#blog .blog-wrap .text-wrap {
    padding: 15px;
}
#blog .blog-wrap .text-wrap .post-title {
    font: 600 15px/21px open sans;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 6px 0;
    display: block;
}
#blog .blog-wrap .text-wrap .post-mata {
    margin-bottom: 10px;
}
#blog .blog-wrap .text-wrap .post-mata li {
    font: 400 13px/21px open sans;
}
#blog .blog-wrap .text-wrap .post-mata li::before {
    content: "\f2c0";
    font-family: fontawesome;
    margin: 0 5px 0 0;
	color:#fd9929;
}
#blog .blog-wrap .text-wrap .post-mata li.by::before {
    content: "\f2c0";
}
#blog .blog-wrap .text-wrap .post-mata li.on::before {
    content: "\f017";
}
#blog .blog-wrap .text-wrap p {
    font: 400 13px/21px open sans;
    margin: 0;
}
#partners {
    background-color: #fd9929;
}
#footer .foot-main .about-wrap img {
    margin: 0 0 20px 0;
}
#footer .foot-main .about-wrap p {
    margin: 0 0 15px 0;
}
#footer .foot-main p, #footer .foot-main li, #footer .foot-main li a {
    font: 400 13px/21px open sans;
    color: #fff;
}
#footer .foot-main {
    padding: 3% 0;
    background: #212330;
}
#footer .foot-main ul {
    list-style-type: none;
}
#footer .foot-main .form-control {
    border: 1px solid #101010;
    height: auto;
    font: 400 13px/21px open sans;
    box-shadow: none;
}
#footer .foot-main .banner-btn {
    border: none;
    border-radius: 3px;
    width: 100%;
    margin: 0;
}
#footer .foot-main form {
    margin: 0 0 1rem auto;
}
#footer .foot-main .social-menu li a i {
    color: #fff;
}
#footer .foot-main .social-menu li a {
    padding: 5px 0px;
    display: inline-block;
    background: #fd9929;
    color: #fff !important;
    width: 28px;
    text-align: center;
    border-radius: 5px;
}
#footer .copy * {
    color: #fff;
    font: 400 13px/21px open sans;
}
#footer .copy {
    background: #2b2d3a;
    padding: 10px;
    text-align: center;
}
#testimonial .testimonial-wrap #owl-demo {
    padding: 2rem 0 0 0;
}
#blog .blog-wrap {
    border: 1px solid #dedede;
    border-radius: 2px;
    overflow: hidden;
}
#blog .blog-wrap .img-wrap {
    height: 225px;
    overflow: hidden;
}

#partners .owl-controls.clickable {
    display: none !important;
}
#partners {
    background-color: #fd9929;
    padding: 2% 0;
}
#gallery .nav-buttons .filter-button {
    font: 600 14px/21px open sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    display: inline-block;
    background: #fd9929;
    color: #fff !important;
    text-decoration: none !important;
    margin: 0rem 5px 0 0;
    border: none;
    border-radius: 0;
}
#gallery .nav-buttons .filter-button.activ {
    background: #101010;
    color: #fff !important;
}
#gallery .nav-buttons {
    margin: 0 0 1rem 0;
}
#gallery .cat-wrap {
    height: 170px;
    overflow: hidden;
    margin: 0 0 25px 0;
}
#gallery {
    background: #f4f4f4;
}









/**********Second HTML************/

#header-2 .top-head {
    background: #d3ffa9;
    padding: 10px 0;
}
#header-2 .top-head .menu-social li a {
    font-size: 13px;
    padding: 4px 0px;
    border: 1px solid #234600;
    border-radius: 50%;
    width: 23px;
    display: inline-block;
    text-align: center;
    color: #234600;
}
#header-2 .top-head .menu-social li a i{
    color: #234600;
}
#header-2 .top-head .menu-contact li a {
    font: 400 13px/18px open sans;
}
#header-2 .main-head {
    background: #fff;
    padding: 5px 0;
}
#header-2 .main-head .navbar {
    margin: 0;
    height: auto;
    min-height: auto;
    border: none;
}
#header-2 .main-head .navbar .navbar-header .navbar-brand {
    display: inline-block;
    padding: 0;
    height: auto;
}
#header-2 .main-head .navbar .navbar-header .navbar-brand img {
    width: 150px;
}
#header-2 .main-head .navbar #navbar-collapse-3 #menu-main-menu {
    margin-top: 12px;
}
#header-2 .main-head .navbar #navbar-collapse-3 #menu-main-menu a {
    background: transparent;
    padding: 10px 10px;
        
    font: 600 14px/21px open sans;
    text-transform: uppercase;
    position: relative;
}
#header-2 .main-head .navbar #navbar-collapse-3 #menu-main-menu li a::after {
    content: '';
    border-bottom: 2px solid #101010;
    position: absolute;
    width: 0;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
	transition:500ms;
}
#header-2 .main-head .navbar #navbar-collapse-3 #menu-main-menu li:hover a::after {
    content: '';
    width: calc(100% - 20px);
}


#home-banner-2 {
    background-image: url(../images/banner.jpg);
    height: 60vh;
    display: flex;
    align-items: center;
    background-size: 100%;
    background-position: center;
}
#home-banner-2 .text-wrap {
    width: 44%;
}
#home-banner-2 .text-wrap h1 {
    font: 700 25px/35px open sans;
    text-transform: uppercase;
    color: #234600;
    margin: 0 0 10px 0;
}
#home-banner-2 .text-wrap p {
    font: 400 15px/21px open sans;
    color: #234600;
    margin: 0 0 15px 0;
}
#home-banner-2 .text-wrap .standard-btn {
    background: #234600;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    font: 600 15px/21px open sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

/***section ***/
.section-2 {
    padding: 4% 0;
}
.section-2 .section-heading-2 h2 {
    font: 800 28px/35px open sans;
    color: #234600;
    margin: 0 0 5px 0;
}
.section-2 .section-heading-2 .light {
    font-weight: 300;
    color: inherit;
}
.section-heading-2 {
    margin: 0 0 2rem 0;
}
.section-2 .section-heading-2 p {
    font: 400 16px/21px open sans;
}
#home-spcial-2 .special-list .media {
    margin: 0 0 25px 0;
}
#home-spcial-2 .special-list .media .media-left {
    width: 29%;
}
#home-spcial-2 .special-list .media .media-left .img-wrap {
    background: #234600;
    height: 80px;
    width: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
#home-spcial-2 .special-list .media .media-left .img-wrap i {
    color: #fff;
    font-size: 30px;
}
#home-spcial-2 .special-list .media .media-body .media-heading {
    font: 600 16px/21px open sans;
}
#home-spcial-2 .special-list .media .media-body p {
    font: 400 14px/21px open sans;
}

.section-2.dark {
    padding: 4% 0;
    background: #d3ffa9;
}
.angle-btn::before {
    position: absolute;
    content: "";
    left: -8px;
    bottom: -8px;
    padding: 5px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    color: #234600;
	transition:500ms;
}
.angle-btn::after {
    position: absolute;
    content: "";
    right: -8px;
    top: -8px;
    padding: 5px;
    border-right: 2px solid;
    border-top: 2px solid;
    color: #234600;
		transition:500ms;
}
.angle-btn:hover::before {
    left: 0px;
    bottom: 0px;
}
.angle-btn:hover::after {
    top: 0px;
    right: 0px;
}
.angle-btn {
    border: 2px solid #234600;
    padding: 10px 24px;
    display: inline-block;
    font: 400 14px/16px open sans;
    text-transform: capitalize;
    color: #234600;
    text-decoration: none !important;
    position: relative;
    transition: 500ms;
}

.angle-btn span::after {
    content: "\f061";
    font-family: fontawesome;
    margin: 0 0px 0 13px;
    font-size: 12px;
}
.angle-btn:hover {
    background: #234600;
}
.angle-btn span {
    transition:500;
}
.angle-btn:hover span {
    color: #fff;
}
#empower .texts h2 {
    font: 800 28px/35px open sans;
    color: #234600;
    margin: 0 0 2rem 0;
}
#empower .texts .light {
    font-weight: 300;
    color: inherit;
    display: inline;
}
#business .section-heading {
    margin: 0;
}
#empower .texts .text-wrap {
    position: relative;
    padding: 0 0 0 30px;
}
#empower .texts .text-wrap::before {
    content: '';
    padding: 7px;
    position: absolute;
    left: 0;
    background: #234600;
    border-radius: 25px;
	top:0;
}
#empower .texts .text-wrap::after {
    content: '';
    padding: 7px;
    position: absolute;
    left: 0;
    background: #234600;
    border-radius: 25px;
	bottom:0;
}

#empower .texts .text-wrap .line::before {
    content: '';
    border-left: 2px solid #234600;
    height: 100%;
    position: absolute;
    left: 6px;
}
#empower .texts .text-wrap p {
    font: 400 14px/23px open sans;
    margin: 0 0 1rem 0;
}
#empower ul .img-wrap {
    margin: 0 0 20px 0;
	transition:500ms;
}
#empower ul .img-wrap:hover {
    opacity: .4;
    background: #101010;
}
#empower ul .img-wrap img {
    width: 100%;
}

#empower ul{
	list-style-type:none;
}
#team-2  .item {
    padding: 20px;
}
#team-2 .item:hover .team-wrap {
    background: #234600;
}
#team-2  .item .team-wrap {
    background: #fff;
    padding: 25px 0;
    transition: 500ms;
}
#team-2  .item .team-wrap .img-wrap {
    border-radius: 50%;
    padding: 0px;
    width: 110px;
    margin: 0 auto;
    overflow: hidden;
    border: 4px solid #dedede;
	transition:500ms;
}
#team-2  .item:hover .team-wrap .img-wrap {
    border-color: transparent;
}
#team-2  .item .text-wrap {
    padding: 20px 0 0 0;
}
#team-2  .item .text-wrap h1 {
    font: 700 15px/21px open sans;
    margin: 0 0 0px 0;
	transition:500ms;
}
#team-2  .item .text-wrap span {
    font: 300 14px/21px open sans;
		transition:500ms;
}
#team-2  .item:hover .team-wrap h1, #team-2  .item:hover .team-wrap span {
    color: #fff;
}
#team-2  .owl-controls.clickable {
    display: none !important;
}
#broad-range .broad-content {
    width: 60%;
    margin: 0 auto 2rem;
}
#broad-range .broad-content .main-text {
    font: 400 15px/21px open sans;
    margin: 0 0 10px 0;
}
#broad-range .broad-content .name {
    font: 300 13px/21px open sans;
    text-transform: capitalize;
    color: #69696B;
}
#broad-range .broad-content span {
    font: 300 13px/21px open sans;
    text-transform: capitalize;
    color: #69696B;
}
#broad-range {
    overflow: hidden;
    padding: 4% 0 0 0;
}
#broad-range .broad-list,#broad-range .broad-list .no-p {
    padding: 0;
}
#broad-range .broad-list .no-mar {
    margin: 0;
}
#broad-range .broad-list {
    padding: 0;
}
#broad-range .broad-list .no-p {
    height: 260px;
    overflow: hidden;
	transition:500ms;
}
#broad-range .broad-list .no-p:hover {
    opacity: .4;
    background: #101010;
}
#client .item {
    margin: 15px;
}
#client .item .text-wrap {
    padding: 45px;
    background: #d3ffa9;
    border-radius: 3px;
    position: relative;
}
#client .item .text-wrap p {
    display: flex;
    font: 400 14px/21px open sans;
}
#client .item .text-wrap p::before {
    content: "\f10e";
    font-family: fontawesome;
    font-size: 25px;
    margin: 0 20px 0 0;
}
#client .item .media .media-left {
    width: 16%;
}
#client .item .media .media-body .title {
    font-size: 15px;
    font-weight: 600;
}
#client .item .media .media-body span {
    line-height: 65px;
}
#client .item .media .media-body .designation {
    font-size: 13px;
    font-weight: 300;
}
#client .item .media {
    margin: 25px 0 0 0;
}
#client .item .media .media-left .img-wrap {
    border-radius: 50%;
    overflow: hidden;
}
#client .owl-controls.clickable {
    display: none !important;
}

#client .item .text-wrap::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #d3ffa9;
    position: absolute;
    bottom: -20px;
    left: 20px;
}
#footer-2 .top-foot .about {
    margin: 0 0 20px 0;
}
#footer-2 .top-foot .about .img-wrap {
    margin: 0 0 15px 0;
}
#footer-2 .top-foot {
    background: #101010 url(../images/footer.jpg);
    padding: 4% 0;
    background-size: cover;
    background-position: center;
}
#footer-2 .top-foot .about p {
    color: #fff;
    font: 600 13px/22px open sans;
}
#footer-2 .top-foot .social-wrap li a i {
    color: #fff;
}
#footer-2 .top-foot .menu-foot .list-posts {
    list-style-type: none;
}
#footer-2 .top-foot .menu-foot .list-posts li a {
    color: #fff;
    font: 600 13px/18px open sans;
    border-bottom: 1px dashed #909090;
    padding: 11px 0 11px 15px;
	position:relative;
    text-decoration: none;
	display:block;
}
#footer-2 .top-foot h3 {
    font: 700 20px/21px open sans;
    color: #fff;
    margin: 0 0 25px 0;
}
#footer-2 .top-foot .menu-foot .list-posts li a::before {
    content: '';
    background: #fff;
    border-radius: 50%;
    padding: 4px 4px;
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 6px 0px 0 0;
    position: absolute;
    left: 1px;
}
#footer-2 .top-foot .menu-foot .list-posts li a span{
		display: block;
	clear: both;
	width: 100%;
	color: #fff;
}
#footer-2 .top-foot .menu-foot .list-posts li a b {
    color: #fff;
    font-weight: 300;
    font-size: 11px;
}
#footer-2 .top-foot .contacts .contact li {
    color: #fff;
    font: 600 13px/22px open sans;
    margin: 0 0 15px 0px;
    display: flex;
}
#footer-2 .top-foot .contacts .contact li::before {
    font-family: fontawesome;
    margin: 0 15px 0 0;
    font-size: 22px;
    line-height: 22px;
    width: 20px;
}
#footer-2 .top-foot .contacts .contact li.add::before {
	content: "\f015";
}
#footer-2 .top-foot .contacts .contact li.phone::before {
	content: "\f10b";
}
#footer-2 .top-foot .contacts .contact li.time::before {
	content: "\f017";
}
#footer-2 .top-foot .contacts .contact li.email::before {
	content: "\f0e0";
}
#footer-2 .top-foot .menu-foot .list-posts li:last-of-type a {
    border: none;
}
#footer-2 .bot-foot {
    background: #101010;
    padding: 10px 0;
}
#footer-2 .bot-foot p {
    color: #fff;
    font: 600 13px/22px open sans;
}